
    
        <div>
            <div class="footer-area bg-primary">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="footer-heading">Phone Pharaoh</h4>
                            <div class="footer-underline"></div>
                            <h5>Subscribe</h5>
                            <p>Get 10% off your first order</p>
                            <br>
                            <div class="input-group mb-3" style="width: 230px;">
                                <input type="email" class="form-control border"  placeholder="Email" aria-label="Email" aria-describedby="button-addon2" />
                                <button class="btn btn-light border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                  Join
                                </button>
                              </div>
                              
                        </div>
                        <div class="col-md-3">
                            <h4 class="footer-heading">Quick Links</h4>
                            <div class="footer-underline"></div>
                            <div class="mb-2"><a href="" class="text-white">Home</a></div>
                            <div class="mb-2"><a href="" class="text-white">About Us</a></div>
                            <div class="mb-2"><a href="" class="text-white">Contact Us</a></div>
                            <div class="mb-2"><a href="" class="text-white">FAQ</a></div>
                           
                        </div>
                        <div class="col-md-3">
                            <h4 class="footer-heading">Account</h4>
                            <div class="footer-underline"></div>
                            <div class="mb-2"><a href="" class="text-white">My Account</a></div>
                            <div class="mb-2"><a href="" class="text-white">Login/Register</a></div>
                            <div class="mb-2"><a href="" class="text-white">Cart</a></div>
                         
                        </div>
                        <div class="col-md-3">
                            <h4 class="footer-heading">Reach Us</h4>
                            <div class="footer-underline"></div>
                            <div class="mb-2">
                                <p>
                                    <i class="fa fa-map-marker"></i> mannarkad, palakad, Kerala.
                                </p>
                            </div>
                            <div class="mb-2">
                                <a href="" class="text-white">
                                    <i class="fa fa-phone"></i> phonepharaoh04@gmail.com
                                </a>
                            </div>
                            <div class="mb-2">
                                <a href="" class="text-white">
                                    <i class="fa fa-envelope"></i> +88015-88888-9999
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="d-flex justify-content-center"> &copy; 2023 - All right reserved</p>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="social-media">
                                Get Connected:
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
    </body>
    </html>